nav {
  /* border: 1px solid black; */
  padding: 20px;
  /* background-color: red; */
  -webkit-box-shadow: 13px 2px 92px -14px rgba(0, 0, 0, 1);
  -moz-box-shadow: 13px 2px 92px -14px rgba(0, 0, 0, 1);
  box-shadow: 13px 2px 92px -14px rgba(0, 0, 0, 1);
}

.link {
  text-decoration: none;
  margin: 10px;
}
